/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 450px) {
  div.containerX {
    margin-top: 10%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 50%;
    min-width: 50%;
    min-height: 11em;
    max-height: 11em;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .col-3:first-child {
    border-right: 1px solid lightgray;
  }

  .col-6 {
    display: none;
    width: 0;
  }

  #map {
    visibility: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 2%;
  }

  #vender-image {
    min-width: 4rem;
    max-width: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.2em;
    margin: 3%;
    white-space: pre-wrap;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 13em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
  }

  #move-right {
    display: block!important;
  }

  h2{
    font-size: 1.2rem;
    margin-top: 10%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.5rem;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 15em;
    min-height: 15em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    width: 100%;
  }

  .card {
    width: 100%;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 25em;
    min-height: 25em; 
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }
  
}
@media (min-width: 451px) and (max-width: 575.98px) {
  div.containerX {
    margin-top: 10%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 50%;
    min-width: 50%;
    min-height: 11em;
    max-height: 11em;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .col-3:first-child {
    border-right: 1px solid lightgray;
  }

  .col-6 {
    display: none;
    width: 0;
  }

  #map {
    visibility: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 2%;
  }

  #vender-image {
    min-width: 4rem;
    max-width: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.2em;
    margin: 3%;
    white-space: pre-wrap;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 13em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
  }

  #move-right {
    display: block!important;
  }

  h2{
    font-size: 1.4rem;
    margin-top: 10%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.3em;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 22em;
    min-height: 22em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    width: 100%;
  }

  .card {
    width: 100%;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 33em;
    min-height: 33em; 
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  div.containerX {
    margin-top: 10%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 50%;
    min-width: 50%;
    min-height: 10em;
    max-height: 10em;
    padding: 0;
    margin: 0;
  }

  .col-3:first-child {
    border-right: 1px solid lightgray;
  }

  .col-6 {
    display: none;
    width: 0;
  }

  #map {
    visibility: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 5%;
  }

  #vender-image {
    min-width: 4rem;
    max-width: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.2em;
    margin: 3%;
    white-space: pre-wrap;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 13em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
  }

  #move-right {
    display: block!important;
  }

  h2{
    font-size: 1.5rem;
    margin-top: 2%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.5rem;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 15em;
    min-height: 15em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    width: 100%;
  }

  .card {
    width: 100%;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 25em;
    min-height: 25em; 
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  div.containerX {
    margin-top: 4%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 17em;
    min-height: 17em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 25%;
    min-width: 25%;
    min-height: 10em;
    padding: 0;
    margin: 0;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  agm-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 5%;
  }

  #vender-image {
    min-width: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    max-height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.1em;
    margin: 6%;
    white-space: pre-wrap;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 16em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
    margin: 7%;
  }

  #move-right {
    float: right;
  }

  #venue-header, #move-right {
    margin: 0;
  }

  h2{
    font-size: 2rem;
    margin-top: 20%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.5rem;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 11em;
    min-height: 11em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    margin: 2%;
    border-radius: 5%;
  }

  .card {
    width: 13em;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 20em;
    min-height: 20em;
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  div.containerX {
    margin-top: 4%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 17em;
    min-height: 17em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 25%;
    min-width: 25%;
    min-height: 10em;
    padding: 0;
    margin: 0;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  agm-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 5%;
  }

  #vender-image {
    min-width: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    max-height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.4em;
    margin: 6%;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 16em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
    margin: 7%;
  }

  #move-right {
    float: right;
  }

  #venue-header, #move-right {
    margin: 0;
  }

  h2{
    font-size: 2rem;
    margin: 10%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.2rem;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 12em;
    min-height: 12em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    margin: 2%;
    border-radius: 5%;
  }

  .card {
    width: 15em;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 18em;
    min-height: 18em;
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  div.containerX {
    margin-top: 4%;
  }

  /* FIXXED TOP */
  #none-scroll {
    position:fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }

  #top-middle {
    width:100%;
    max-height: 17em;
    min-height: 17em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .mat-grid-list {
    width: 100%;
  }

  #search {
    border-bottom: 1px solid black;
  }
  
  .col-3 {
    display: inline-block;
    max-width: 25%;
    min-width: 25%;
    min-height: 10em;
    padding: 0;
    margin: 0;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  agm-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .vender-link {
    display: block;
    height: 100%;
    margin: 5%;
  }

  #vender-image {
    min-width: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    max-height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    font-size: 1.4em;
    margin: 6%;
  }

  .middle {
    color: #FFB300;
  }

  #search-form {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  #search-box {
    width: 100%;
    border: 2px solid #00b8d4;
  }

  /* SCROLLING AREA */

  #scroll {
    position: absolute;
    top: 16em;
    width:100%;
    z-index:0;
    padding: 0;
    margin: 0;
  }

  div.container-fluid {
    width:100%;
    margin: 7%;
  }

  #move-right {
    float: right;
  }

  #venue-header, #move-right {
    margin: 0;
  }

  h2{
    font-size: 2rem;
    margin: 5%;
  }

  h5 {
    color:#FFB300;
    margin: 5% 0;
    font-size: 1.5rem;
  }

  [mat-button] {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .imageGrid {
    width: 100%;
  }

  .mat-card-image {
    max-height: 15em;
    min-height: 15em;
    object-fit: cover;
    object-position: center;
  }

  .mat-card-content {
    display: flex;
    margin: 0;
  }
  
  .card-group {
    display: inline-flex;
    margin: 2%;
    border-radius: 5%;
  }

  .card {
    width: 15em;
    padding: 0;
    margin: 5% 0;
    border-radius: 5%;
    overflow: hidden;
    max-height: 23em;
    min-height: 23em;
  }

  .mat-card-content>:first-child, .mat-card>:first-child {
    display: inline-flex;
  }

  .venue-icon {
    width: 1em;
    height: 1em;
  }

  .icon-address {
    display: inline-flex;
    margin-top: 5%;
  }

  .venue-icon, .mat-card-subtitle {
    vertical-align: top;
  }

}

.col-12 {
  text-align: center;
}

#move-right {
  margin: 0;
  right: 0;
}

#venue-header, #move-right {
  display: inline-block;
}

h2 {
  text-decoration: underline;
}

.mat-card-subtitle {
  font-family: serif;
}

.icon-address {
  width: 100%;
  margin: 5%;
}

div.loading {
  min-width: 100%;
  max-width: 100%;
  min-height: 15em;
  max-height: 15em;
  margin: 50%;
}