<button mat-raised-button [routerLink]="['/list_venue']">Cancel</button>
<h1 class="text-center">Edit {{venue.n}} venue</h1>
<div class="container">
  <form (submit)="update(venue)" #formData="ngForm" class="form">
    <!-- Name -->
    <mat-form-field>
      <input matInput name='name' [(ngModel)]="venue.n" #name='ngModel' required>
    </mat-form-field>
  
    <!-- Email -->
    <mat-form-field>
    <input matInput name='email' [(ngModel)]="venue.e" #email='ngModel' required>
    </mat-form-field>

    <!-- Phone# -->
    <mat-form-field>
      <input matInput name='phone' [(ngModel)]="venue.p" #phone='ngModel' required>
    </mat-form-field>

    <!-- Website -->
    <mat-form-field>
      <input matInput name='website' [(ngModel)]="venue.w" #website='ngModel' required>
    </mat-form-field>

    <!-- Submit -->
    <input type='submit' [disabled]=!formData.valid>
  </form>
</div>