<button mat-raised-button color="accent" [routerLink]="['/venue', 'add']">Add a venue</button>
<h1>Venues</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Website</th>
            <!-- <th>Pic_URL</th> -->
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let venue of venues; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ venue.name }}</td>
            <td>{{ venue.email }}</td>
            <td>{{ venue.phone }}</td>
            <td>{{ venue.address }}</td>
            <td>{{ venue.website }}</td>
            <!-- <td>{{ venue.static_pic_url }}</td> -->
            <td>
                <button  mat-icon-button color="accent" [routerLink]="['/venue', 'edit', venue._id]">
                    <mat-icon aria-label="icon-button to edit venue"><i class="material-icons">&#xE3C9;</i></mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="destroyVenue(venue._id, i)">
                  <mat-icon aria-label="icon-button to delete venue"><i class="material-icons">&#xE872;</i></mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table> 
