<div class="containerX">
    <div class="none-scroll">
        <div class="col-12" id="search-form">
            <h4>SEARCH FORM COMING SOON....</h4>
        </div>
        <div class="top-middle">
            <div class="col-3 mx-auto" *ngFor="let vender of venders">
                <h2 class="text-center">VENDER</h2>
                <ng-container *ngIf="vender.pic_url; else elseTemplate">
                    <div class="vender-link">
                        <a [routerLink]="['/vender', 'display', vender._id]">
                            <img src='imgs/{{vender.pic_url}}' class="rounded-circle mx-auto d-block" id="vender-image" alt="Vender Picture">
                            <div class="middle rounded-circle">
                                <div class="text">{{vender.name}}</div>
                            </div>
                        </a>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="vender-link">
                        <a [routerLink]="['/vender', 'display', vender._id]">
                            <img src='/assets/images/missing.png' class="rounded-circle mx-auto d-block" id="vender-image" alt="Venue Picture">
                            <div class="middle rounded-circle">
                                <div class="text">{{vender.name}}</div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </div>
            <div class="col-6" id="map">
                <agm-map [latitude]='36.153883' [longitude]='-95.990629' [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                    <agm-marker *ngFor="let venue of venues" [title]="venue.address" [latitude]="venue.lat" [longitude]="venue.lng">
                        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                            <ng-template>
                                {{venue.name}}
                                <button mat-button [routerLink]="['/venue', 'display', venue._id]">VIEW</button>
                            </ng-template>
                        </agm-snazzy-info-window>
                    </agm-marker>
                </agm-map>
            </div>
            <div class="col-3 mx-auto" *ngFor="let vender of venders">
                <h2 class="text-center">VENDER</h2>
                <ng-container *ngIf="vender.pic_url; else elseTemplate">
                    <div class="vender-link">
                        <a [routerLink]="['/vender', 'display', vender._id]">
                            <img src='imgs/{{vender.pic_url}}' class="rounded-circle mx-auto d-block" id="vender-image" alt="Vender Picture">
                            <div class="middle rounded-circle">
                                <div class="text">{{vender.name}}</div>
                            </div>
                        </a>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="vender-link">
                        <a [routerLink]="['/vender', 'display', vender._id]">
                            <img src='/assets/images/missing.png' class="rounded-circle mx-auto d-block" id="vender-image" alt="Venue Picture">
                            <div class="middle rounded-circle">
                                <div class="text">{{vender.name}}</div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <hr>

    <div class="scroll">
        <mat-progress-spinner *ngIf="!venues" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="container">
            <h2>Venues</h2>
            <div class="card-group" *ngFor="let venue of venues; let i = index">
                <mat-card class="card" [tabindex]="i">
                    <ng-container *ngIf="venue.static_pic_url; else elseTemplate">
                        <img mat-card-image src='imgs/{{venue.static_pic_url}}' alt="Venue Picture">
                    </ng-container>
                    <ng-template #elseTemplate>
                        <img mat-card-image src='/assets/images/missing.png' alt="Venue Picture">
                    </ng-template>
                    <mat-card-title>
                        <h5 class="text-center">{{venue.name}}</h5>
                    </mat-card-title>
                    <mat-card-footer>
                        <img src="assets/images/{{venue.category.icon}}" class="venue-icon" alt="Venue Icon">
                    </mat-card-footer>
                    <mat-card-actions>
                        <button mat-button [routerLink]="['/venue', 'display', venue._id]">VIEW</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
