/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 450px) {
  
}

@media (min-width: 451px) and (max-width: 575.98px) {
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


  .container-fluid {
    margin-top: 4em;
  }

}
#none-scroll {
  max-height: 19em;
  min-height: 19em;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 3;
  background: white;
  overflow: hidden;
  box-shadow: 0 0px 10px #0000005c;
}
.container-fluid {
  margin: 0;
  padding: 0;
  margin-top: 4em;
}

.col-9, .col-3 {
  display: inline-block;
  vertical-align: top;
  min-height: 19em;
  max-height: 19em;
}

#vendor-card {
  box-shadow: none;
  max-width: 100%;
  min-width: 100%;
}

#vendor-card .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
  margin-bottom: 0!important;
}

.map {
  width: 100%;
  height: 100%;
}

agm-map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#top-vendor {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  padding: 5%;
}

#vendor-image {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  max-height: 10rem;
}
.card-group {
  display: inline;
  margin: 2%;
}

.mat-card-image {
  max-height: 10rem;
  min-height: 10rem;
  object-fit: cover;
}
.mat-card-subtitle {
  font-family: serif;
  margin-top: 0!important;
}

.mat-card {
  padding: 1%;
  margin: 0;
  min-width: 12em;
  max-width: 12em;
  overflow: hidden;
  display: inline-block;
}

.mat-card-content {
  width:100%;
  margin: auto;
}

.mat-card button{
  width: 100%;
}

.line{
  display: block;
  width: 80%;
  border: 1px solid lightgrey;
  margin: auto;
}

#scroll {
  position: absolute;
  min-height: 30em;
  min-width: 100%;
  max-width: 100%;
  top: 23em;
  bottom: 0;
  left: 0;
  right: 0;
}

#scroll .container-fluid {
  margin: 0;
  padding: 0;
}

#sideform {
  min-width: 100%!important;
  max-width: 100%!important;
}

#search-box {
  width: 85%;
  margin: 2% 0;
  padding: 0;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 5px 20px 5px 40px;
}

.color {
  color: #00B8D4;
}

h4 {
  color: #00B8D4;
}

h6 {
  color : lightgrey;
}

.sidenav-container {
  min-height: 20em;
}
.mat-sidenav {
  width: 20%;
  min-height: 100%;
  background-color: #f5f5f50a;
  border-left: 1px solid lightgrey;
}



footer {
  position: absolute!important;
  bottom: 0!important;
}

div.loading {
  min-width: 100%;
  max-width: 100%;
  min-height: 15em;
  max-height: 15em;
  margin: 50%;
}

a:hover {
  text-decoration: none;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  display: block;
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.slider {
  width: 80%;
}
