<button mat-raised-button [routerLink]="['/list_ammenity']">Cancel</button>
<h1 class="text-center">Edit {{ammenity.name}} </h1>
<div class="container">
  <form (submit)="update(ammenity)" #formData="ngForm" class="form">
    <!-- Name -->
    <mat-form-field>
      <input matInput name='name' [(ngModel)]="ammenity.name" #name='ngModel' placeholder="name" required>
    </mat-form-field>

    <!-- Submit -->
    <button mat-raised-button type='submit' [disabled]=!formData.valid>Submit</button>
  </form>
</div>
