<div class="col align-self-center" *ngIf="!loaded; else mainTemplate">
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
<ng-template #mainTemplate>
    <div class="containerX">
        <div id="slider">
            <figure *ngFor="let gallery of venue.gallery">
                <img src='https://venue-test.s3.amazonaws.com/Venues/{{venue._id}}/Gallery/{{gallery.name}}' alt>
            </figure>
        </div>
        <div class="container-fluid">
            <div class="row" id="top">
                <div class="col-3" id="left-col">
                    <div class="top-left">
                        <div class="mx-auto" id="rating">
                            <i class="material-icons" value="1">&#xE83A;</i>
                            <i class="material-icons" value="2">&#xE83A;</i>
                            <i class="material-icons" value="3">&#xE83A;</i>
                            <i class="material-icons" value="4">&#xE83A;</i>
                            <i class="material-icons" value="5">&#xE83A;</i>
                        </div>
                        <ul class="text-left">
                            <li>
                                <h5>{{venue.address}}, {{venue.city}} {{venue.state | uppercase}}</h5>

                            </li>
                            <li>
                                <a href='tel:{{ venue.phone }}' data-type='phone'>
                                    <p>{{ venue.phone }}</p>
                                </a>
                            </li>
                            <li>
                                <a href='http://{{venue.website}}' target='_blank' rel='nofollow noopener noreferrer' matTooltip="View {{venue.name}}'s' website">
                                    <p><span>{{venue.website}}</span></p>
                                </a>
                            </li>
                            <li>
                                <a href='mailto:{{ venue.email }}' target='_top'>
                                    <p><span>{{ venue.email }}</span></p>
                                </a>
                            </li>
                        </ul>
                    </div> 
                    <hr>
                    <div class="cost">
                        <h5>Starting Cost: </h5>
                        <h3>{{ venue.minAmmount | currency }}</h3>
                    </div>
                    <hr>
                    <div class="capacity">
                         <h5>Capacity: </h5>
                         <h3>{{ venue.maxCapacity }}</h3>
                    </div>
                    <hr>
                    <mat-list [ngStyle]="{ 'width': '100%', 'display': 'block' }" *ngFor="let amenity of venue.amenities">
                        <mat-list-item>
                            <img src="/assets/images/checkbox.svg" alt="Check Box icon"> {{amenity.name}}
                        </mat-list-item>
                    </mat-list>
                    <hr>
                    <div>
                        <h6 class="text-center">Featured Vendor</h6>
                        <ng-container *ngIf="vender?.pic_url; else elseTemplate">
                            <div class="vender-link">
                                <!-- LIVE -->
                                <!-- <a [routerLink]="['/vender', 'display', vender._id]">
                                    <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venders/{{vender.name}}/{{vender.pic_url}}' class="img-fluid img-thumbnail"
                                        id="vender-image" alt="Vender Picture" />
                                </a>
                                <h2 class="text-center" id="vender-name">{{ vender?.name }}</h2> -->
                                <!-- TEST -->
                                <a [routerLink]="['/vender', 'display', vender._id]">
                                    <img src='https://venue-test.s3.amazonaws.com/Venders/{{vender.name}}/{{vender.pic_url}}' class="img-fluid img-thumbnail" id="vender-image" alt="Vender Picture" />
                                </a>
                                <h6 class="text-center" id="vender-name">{{ vender?.name }}</h6>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div class="vender-link">
                                <a [routerLink]="['/vender', 'display', vender._id]">
                                    <img src='/assets/images/missing.png' class="rounded-circle mx-auto d-block" id="vender-image" alt="Venue Picture">
                                    <div class="middle">
                                        <div class="text">{{vender?.name}}</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-9" id="right-col">
                    <div id="top-right">
                        <div id="venue-about">
                            <div class="text-center">
                                <p>{{venue.description}}</p>
                            </div>
                        </div>
                        <div class="links">
                            <div class="col-6">
                                <img src='https://venue-test.s3.amazonaws.com/Venues/{{venue._id}}/{{venue.pic_url}}' class="img-fluid img-thumbnail" alt="Venue Video">
                                <button mat-button cdk-overlay-origin #video="cdkOverlayOrigin" (click)="isMenuOpen = !isMenuOpen" matTooltip="View Video">
                                    <i class="material-icons">&#xE037;</i>
                                    Play
                                </button>
                                <ng-template cdk-connected-overlay [origin]="video" [width]="900" hasBackdrop [open]="isMenuOpen" (backdropClick)="isMenuOpen=false">
                                    <div class="overlay">
                                        <div class="embed-responsive embed-responsive-16by9" id="content">
                                            <iframe class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(venue.video_url)' scrolling="no"></iframe>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="col-6">
                                <img src='https://venue-test.s3.amazonaws.com/Venues/{{venue._id}}/{{venue.pic_url}}' class="img-fluid img-thumbnail" alt="Venue 3D Tour">
                                <button mat-button cdk-overlay-origin #trigger="cdkOverlayOrigin" (click)="isMenuOpen = !isMenuOpen" matTooltip="View 3D tour">
                                    3D TOUR
                                </button>
                                <ng-template cdk-connected-overlay [origin]="trigger" [width]="900" hasBackdrop [open]="isMenuOpen" (backdropClick)="isMenuOpen=false">
                                    <div class="overlay">
                                        <div class="embed-responsive embed-responsive-16by9" id="content">
                                            <iframe class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(venue.tour_url)' scrolling="no"></iframe>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    
                        <div *ngFor="let gallery of venue.gallery" id="gallery">
                            <div class="col-2">
                                <!-- LIVE -->
                                <!-- <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venues/{{venue._id}}/Gallery/{{gallery.name}}' alt="Venue Gallery Picture"
                                    class="gallery-image"> -->
                                <!-- TEST -->
                                <img src='https://venue-test.s3.amazonaws.com/Venues/{{venue._id}}/Gallery/{{gallery.name}}' class="gallery-image" alt="Venue gallery picture">
                            </div>
                        </div>  
                    </div>
                    <div class="reviews">
                        <h2 class="text-center"></h2>
                        <div class="clearfix">
                            <button mat-button color="primary" [routerLink]="['/venue', venue._id, 'review']" class="float-right">Add a Review</button>
                        </div>
                        <span class="line"></span>
                        <div *ngFor="let review of venue.reviews">
                            <ng-container *ngIf="review; else elseTemplate">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>{{review.title}}</mat-card-title>
                                        <fieldset class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" />
                                            <label class="full" for="star5" title="5 stars"></label>

                                            <input type="radio" id="star4" name="rating" value="4" />
                                            <label class="full" for="star4" title="4 stars"></label>

                                            <input type="radio" id="star3" name="rating" value="3" />
                                            <label class="full" for="star3" title="3 stars"></label>

                                            <input type="radio" id="star2" name="rating" value="2" />
                                            <label class="full" for="star2" title="2 stars"></label>

                                            <input type="radio" id="star1" name="rating" value="1" />
                                            <label class="full" for="star1" title="1 star"></label>
                                        </fieldset>
                                        <!-- <div id="rating">
                                            <i class="material-icons" value="1">&#xE83A;</i>
                                            <i class="material-icons" value="2">&#xE83A;</i>
                                            <i class="material-icons" value="3">&#xE83A;</i>
                                            <i class="material-icons" value="4">&#xE83A;</i>
                                            <i class="material-icons" value="5">&#xE83A;</i>
                                        </div> -->
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p>{{review.content}}</p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button>Mark Review as Helpful</button>
                                        <button mat-button>Report</button>
                                    </mat-card-actions>
                                </mat-card>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <mat-card>
                                    <h6>There are no reviews for {{ venue.name }}</h6>
                                </mat-card>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div id="map">
                    <agm-map [latitude]='venue.lat' [longitude]='venue.lng' [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                        <agm-marker [title]="venue.address" [latitude]="venue.lat" [longitude]="venue.lng">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</ng-template>
