<div class="containerX">
    <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngIf="venue.pic_url; else elseTemplate">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src='imgs/{{venue.pic_url}}' class="venue-image" alt="Venue slide pictures">
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="carousel-item active">
                        <img class="d-block w-100" src='/assets/images/missing.png' class="venue-image" alt="Missing Venue Picture">
                    </div>
                </ng-template>
            </div>
            <a class="carousel-control-prev text-light bg-dark" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only" matTooltip="Previus">Previous</span>
            </a>
            <a class="carousel-control-next text-light bg-dark" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only" matTooltip="Next">Next</span>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-12" id="top">
            <div class="col-3" id="venue-info">
                <h2 class="text-center">{{venue.name}}</h2>
                <div class="mx-auto" id="rating">
                    <i class="material-icons">&#xE83A;</i>
                    <i class="material-icons">&#xE83A;</i>
                    <i class="material-icons">&#xE83A;</i>
                    <i class="material-icons">&#xE83A;</i>
                    <i class="material-icons">&#xE83A;</i>
                </div>
                <ul class="text-center">
                    <li>
                        <h5>{{venue.phone}}</h5>
                    </li>
                    <li>
                        <h5>{{venue.address}}</h5>
                    </li>
                    <li>
                        <a href='{{venue.website}}' target='_blank' rel='nofollow noopener noreferrer' matTooltip="View {{venue.name}}'s' website">view website</a>
                    </li>
                </ul>
            </div><!--
            --><div class="col-6" id="venue-about">
                <h2 class="text-center">ABOUT {{venue.name}}</h2>
                <p class="text-center">{{venue.description}}</p>
            </div><!--
            --><div class="col-3" id="venue-tour">
                <button mat-raised-button (click)="show()" matTooltip="View 3D tour">3D Tour</button>
            </div>
        </div>
        <div class="col-12" id="middle">
            <div class="col-6">
                <h2 class="text-center">AMENITIES</h2>
                <mat-list *ngFor="let amenity of venue.amenities">
                    <mat-list-item>
                        <i class="material-icons">&#xE876;</i> {{amenity.name}}
                    </mat-list-item>
                </mat-list>
            </div><!--
            --><div class="col-6">
                <h2 class="text-center">PHOTO GALLORY</h2>
            </div>
        </div>
        <div class="col-12" id="bottom">
            <div class="col-3">
                <h2 class="text-center">VENDER</h2>
            </div><!--
            --><div class="col-6" id="map">
                <agm-map [latitude]='venue.lat' [longitude]='venue.lng' [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                    <agm-marker [title]="venue.address" [latitude]="venue.lat" [longitude]="venue.lng">
                    </agm-marker>
                </agm-map>
            </div><!--
            --><div class="col-3">
                <h5 class="text-center">DETAILS & INFORMATION</h5>
                <mat-divider></mat-divider>
                <h6 class="text-center">Price range: {{ venue.minAmmount | currency }} - {{ venue.maxAmmount | currency }}</h6>
                <ul id="venue-contact">
                    <li>
                        <mat-icon aria-label="email icon link">
                            <a href='mailto:{{venue.email}}' target='_top'>
                                <i class="material-icons">&#xE0BE;</i>
                            </a>
                        </mat-icon>
                    </li>
                    <li>
                        <mat-icon aria-label="Phone icon link">
                            <a href='tel:{{venue.phone}}' data-type='phone'>
                                <i class="material-icons">&#xE0CD;</i>
                            </a>
                        </mat-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>