/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container-fluid  {
    display: block;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container-fluid  {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid  {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-fluid  {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container-fluid  {
    display: block;
  }

  .venue-image {
    width: 30%;
    margin: auto;
    display: inherit;
  }

  .col-3, .col-5 {
    display: inline-block;
    vertical-align: top;
  }

  ul {
    list-style: none;
  }

  h2, h3, h4, h5, h6 {
    width: 100%;
  }

  #map {
    width:100%;
    height: 400px;
    vertical-align: top;
  }

  agm-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

div.containerX {
    margin-top: 4%;
    width: 100%;
}

.carousel {
  width: 100%;
}

h2 {
  color:#FFB300;
}

#top, #middle, #bottom {
  margin-bottom: 2%;
}

a {
  color: #00B8D4;
}