/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
 
div#slider { 
  overflow: hidden;
  height: 27rem; 
}

div#slider figure img { 
  width: 20%; 
  height: 27rem;
  float: left; 
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

h5 {
  color: #00B8D4;
}

span {
  color: lightgrey;
}

.mat-card-title {
  margin-top: 2%!important;
}

.col-3 .col-9, .col-6 {
  display: inline-block;
  overflow: hidden;
}


.links {
  margin: 5% auto;
  width: 100%;
  z-index: 0;
}

.links img {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  z-index: 1;
}

.image-button {
  z-index: 2;
  color: white;
  position: absolute;
  top: 10em;
  left: 15em;
}

.col-2 {
    display: inline-block;
}
#gallery  {
  display: inline-block;
  overflow: hidden;
}

#gallery:hover {
  cursor: pointer;
}



#gallery img {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 