/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  div#slider {
    height: 20rem;
  }

  .col-3, .col-6, .col-9 {
    flex: 100%!important;
    max-width: 100%!important;
  }

  #none-scroll .col-3 {
    display: none;
  }

  .mat-list, .mat-nav-list, .mat-selection-list {
    padding: 0;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1;
  }

  h5 {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1;
  }

  div.overlay {
    padding: 0;
    z-index: 3;
    margin:0;
    position: absolute;
    right: 38em;
    left: -13em;
    top: -20em;
    transform: rotate(90deg);
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  div#slider {
    height: 20rem;
  }

  .col-3, .col-9 {
    flex: 100%!important;
    max-width: 100%!important;
  }

  .col-6 {
    max-width: 50%;
  }
  #none-scroll .col-3 {
    display: none;
  }

  .mat-list, .mat-nav-list, .mat-selection-list {
    padding: 0;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1;
  }

  h5 {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1;
  }

  div.overlay {
    padding: 0;
    z-index: 3;
    margin:0;
    position: absolute;
    right: 46em;
    left: -22em;
    top: -15em;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  div#slider {
    height: 20rem;
  }

  #none-scroll {
    margin-top: 2%;
  }

  .mat-list, .mat-nav-list, .mat-selection-list {
    padding: 0;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1;
  }

  h5 {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1;
  }

  .mat-card {
    padding: 1%;
  }

.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
    margin-top: 0;
}

  .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    margin: 0;
  }

  .mat-card>.mat-card-actions {
    margin: 0;
  }

  div.overlay {
    padding: 0;
    z-index: 3;
    margin:0;
    position: absolute;
    right: 47em;
    left: -33em;
    top: -37em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  div.overlay {
    padding: 0;
    z-index: 3;
    margin:0;
    position: absolute;
    right: 43em;
    left: -45em;
    top: -36em;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  div.overlay {
    padding: 0;
    z-index: 3;
    margin:0;
    position: absolute;
    right: 43em;
    left: -60em;
    top: -32em;
  }

}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
 
div#slider { 
  height: 27rem; 
  box-shadow: 0 1px 18px #88888842;
  background-color: #01090ae3;
}

div#slider figure img { 
  width: 20%; 
  height: 27rem;
  float: left;
  object-fit: contain; 
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

#top {
  margin-top: 2%;
}

h5 {
  color: #00B8D4;
}
.black {
  color: black;
}

.white {
  color: #fff;
}

.color {
  color: #00B8D4;
}

a {
  color: black;
}

span {
  color: lightgrey;
}

ul {
  list-style: none;
}

.mat-card-title {
  margin-top: 2%!important;
}

.col-3 .col-9, .col-6 {
  display: inline-block;
  overflow: hidden;
}


.links {
  margin: 5% auto;
  width: 100%;
  z-index: 0;
}

.links img {
  -webkit-filter: blur(1px);
  filter:blur(1px);
  -webkit-filter: brightness(85%);
  filter:brightness(85%);
  z-index: 1;
  background: #00000045;
}

.image-button {
  z-index: 2;
  color: white;
  position: absolute;
  top: 40%;
  left: 35%;
}

#play-icon, #play-text {
  display: block;
  font-size: 1.5rem;
}

.col-2 {
    display: inline-block;
}

#gallery  {
  display: inline-block;
  overflow: hidden;
}

#gallery:hover {
  cursor: pointer;
}

#gallery img {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
}

#bottom-map {
  min-height: 19em;
  max-height: 19em;
}

#none-scroll {
  max-height: 19em;
  min-height: 19em;
  min-width: 100%;
  max-width: 100%;
  z-index: 3;
  background: white;
  overflow: hidden;
}

.reviews {
  margin: 3% 0;
}

.map {
  width: 100%;
  height: 100%;
}

agm-map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.venue-display {
  margin: 0!important;
  padding: 0!important;
  box-shadow: none!important;
  min-height: 8em;
  max-height: 8em;
  min-width: 15em;
  max-width: 15em;
}

#top-vendor {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  padding: 5%;
}

#vendor-image {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  max-height: 10rem;
}

.line{
  display: block;
  width: 80%;
  border: 1px solid lightgrey;
  margin: auto;
}

#rating i {
  color: gold;
}

.reviews-post {
  box-shadow: none!important;
}

div.loading {
  min-width: 100%;
  max-width: 100%;
  min-height: 20em;
  max-height: 20em;
  margin: 25% 50%;
}

.grey {
  color: grey!important;
}