<!-- <button mat-raised-button [routerLink]="['/ammenity', 'add']">Add a ammenity</button> -->

<h1>Ammenities</h1>

<div>
  <form>
    <mat-form-field>
      <mat-label>Ammenity name:</mat-label>
      <input matInput #ammenityName  placeholder="Name" required>
    </mat-form-field>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(ammenityName.value); ammenityName.value=''">
      <i class="material-icons">&#xE148;</i>
    </button>
  </form>
</div>

<hr>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ammenities" *ngFor="let ammenity of ammenities; let i = index">
        <td class="badge">{{ i + 1 }}</td>
        <td class="main">
          <a [routerLink]="['/ammenity', 'edit', ammenity._id]">{{ ammenity.name }}</a>
        </td>
        <td class="delete">
          <button mat-icon-button color="warn" (click)="delete(ammenity)">
            <mat-icon aria-label="icon-button to delete venue"><i class="material-icons">&#xE872;</i></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
