<button mat-raised-button [routerLink]="['/venue', 'add']">Add a venue</button>
<h1>Venues</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Website</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of venue_list; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ v.name }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.phone }}</td>
            <td>{{ v.address }}</td>
            <td>{{ v.website }}</td>
            <td>
                <button  [routerLink]="['/venue', 'edit', v._id]">
                    <mat-icon aria-hidden="true">
                        <i class="material-icons">&#xE3C9;</i>
                    </mat-icon>
                </button>
                <button (click)="delete(v)">
                    <mat-icon aria-hidden="true">
                        <i class="material-icons">&#xE872;</i>
                    </mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
