<div class="container">
  <form (submit)="loginUser(); loginForm.reset()" #loginForm="ngForm">
    <!-- ** EMAIL ** -->
    <mat-form-field>
      <input matInput placeholder="Enter your email"autocomplete="email" name="email" [formControl]="email" required [(ngModel)]="currentUser.email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

  <!-- **  PASSWORD ** -->
    <mat-form-field>
      <input matInput placeholder="Enter your password" autocomplete="current-password" name="password" required [(ngModel)]="currentUser.password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button type="submit" value="Login" [disabled]="!currentUser.email">
      <h3>Login<i class="material-icons">arrow forward</i></h3>
    </button>
  </form>
  <div>
    <p *ngFor="let error of errors">{{ error }}</p>
  </div>
</div> 

<!-- 
<div class="col-4">
  <form (submit)="createUser()" class="form"> 
    <div class="form-input">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="newUser.name">
    </div>
    <div class="form-input">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="newUser.email">
    </div>
    <div class="form-input">
      <label>Password</label>
      <input type="text" name="password" [(ngModel)]="newUser.password">
    </div>
    <div class="form-input">
      <label>Password Confirmation</label>
      <input type="text" name="password_confirmation" [(ngModel)]="newUser.password_confirmation">
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="Register">
    </div>
  </form>
  <div>
    <p *ngFor="let error of errors">{{ error }}</p>
  </div>
</div> -->