<div class="containerX">
  <div class="container">
    <section>
      <img class="img" src="assets/images/tulsavenus.png" alt="Picture of outlined city">
      <h2>Who knows Tulsa better then tulsans?</h2>
    </section>
    <div id="search-button">
      <button mat-raised-button color="accent" routerLink="/search" matTooltip="Search for a Venue">Find Your Venue Now</button>
    </div>
  </div>
  <hr>
  <div class="container" fxLayout="col" fxLayoutAlign="space-around center">
    <div class="green">
      <i class="material-icons">&#xE04A;</i>
    </div>
    <div class="red">
      <h2>ABOUT</h2>
    </div>
  </div>
  <hr>
  <div class="container">
    <h2>Preferred Venders</h2>
  </div>
</div>
