div.container {
    width: 100%;
    background: lightskyblue;
}

.img{
    max-width: 50%;
    min-width: 50%;
    display: block;
    margin: auto;
}

div[fxLayoutAlign] { 
    padding:4px; 
    background: lightcyan;
}

button {
    margin: auto;
}

h2 {
    text-align: center;
}

div.green {
    width: 100%;
    background: lightgreen;
}

div.red {
    width: 100%;
    background: lightcoral;
}

button {
    align-self: center;
}