<div class="header">
  <section class="mat-typography">
    <h1>Tulsa Venues</h1>
    <!-- <img class="img" src="assets/tulsavenus.png" alt="Picture of outlined city"> -->
    <h4>Who knows Tulsa better then tulsans?</h4>
  </section>
  <button mat-raised-button color="accent" routerLink="/search">Find Your Venue Now</button>
</div>
<hr>
<div>
  <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/XGSy3_Czz8k?controls=0?autoplay=1">
  </iframe> -->
</div>
<hr>
<div>
  <h2>Preferred Venders</h2>
</div>