body {
    margin:0;
}

div.header {
    width: 100%;
}

.img{
    margin: auto;
}

h1, h4 {
    text-align: center;
}
#search-button {
    width: 100%;
}
button{
    display: flex;
    margin: auto;
}

div.movie {
    width: 20%;
    height: 10rem;
    border-right: 1px solid black;
}

div.about {
  width: 70%;
  height: 10rem;
}

.movie, .about {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
}

h2 {
    text-align: center;
}


.spacer {
    flex: 1 1 auto;
}
