body {
    margin:0;
}

div.header {
    width: 100%;
    .img{
        margin: auto;
    }
    h1, h4 {
        text-align: center;
    }
}

#search-button {
    width: 100%;
    button{
        display: flex;
        margin: auto;
    }
}

div.movie {
    width: 25%;
    height: 10rem;
    border-right: 1px solid black;

}

h2 {
    text-align: center;
}