<div class="header">
  <section class="mat-typography">
    <h1>Tulsa Venues</h1>
    <!-- <img class="img" src="assets/tulsavenus.png" alt="Picture of outlined city"> -->
    <h4>Who knows Tulsa better then tulsans?</h4>
  </section>
  <div id="search-button">
    <button mat-raised-button color="accent" routerLink="/search">Find Your Venue Now</button>
  </div>
</div>
<hr>
<div class="movie">
  <div class="icon">
    <i class="material-icons">&#xE04A;</i>
  </div>
</div>
<div class="about">
  <h2>OUR STORY</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo dolorem, quibusdam eaque explicabo iste possimus aliquam perferendis in voluptatum quam, molestias architecto cumque. Perspiciatis, debitis. Id fuga quam soluta dicta?</p>
</div>
<hr>
<div>
  <h2>Preferred Venders</h2>
</div>

