<button mat-raised-button [routerLink]="['/list_venue']">
  <i class="material-icons">&#xE5C4;</i>
</button>
<h1>Add a Venue</h1>
  <form #form (submit)="create_venue()" encType="multipart/form-data">
    <!-- Name -->
    <mat-form-field>
      <input matInput name="name" required maxlength=250 [(ngModel)]="new_venue.name" placeholder="Venue Name">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <input matInput name="email" required maxlength=250 [(ngModel)]="new_venue.email" placeholder="Venue Email">
    </mat-form-field>

    <!-- Phone# -->
    <mat-form-field>
      <input matInput name="phone" required maxlength=20 [(ngModel)]="new_venue.phone" placeholder="Venue Phone #">
    </mat-form-field>

    <!-- Address -->
    <mat-form-field>
      <input matInput name="address" required maxlength=200 [(ngModel)]="new_venue.address" placeholder="Venue Address">
    </mat-form-field>

    <!-- Website -->
    <mat-form-field>
      <input matInput name="website" required maxlength=250 [(ngModel)]="new_venue.website" placeholder="Venue Website">
    </mat-form-field>

    <!-- Ammenities -->
    <!-- <mat-form-field>
      <mat-select placeholder="Ammenities" [formControl]="ammenities" multiple>
        <mat-option *ngFor="let ammenity of ammenitiesList" [value]="ammenity">{{ammenities}}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- Picture -->
    <div>
      <input #file type="file" name="picture" [(ngModel)]="new_venue.static_pic_url">
    </div>

    <!-- Submit -->
    <button mat-raised-button type="submit">Submit</button>
  </form>

  <div>
    <p class="error" *ngFor="let error of errors">{{ error }}</p>
  </div>
