/* Extra small devices (portrait phones, less than 450px) */
@media (max-width: 450px) {
    div.containerX {
        margin: 0;
        padding: 0;
    }

    #main {
        width:100%;
        max-height: 28em;
        min-height: 28em;
        background-image: url(/assets/images/headerImage.jpg);
    }

    .main-inner {
        position: absolute;
        width: 100%;
        top: 10em;
    }

    div.search {
        width: 100%;
        overflow: hidden;
    }



    #search-button-style {
        color: #00B8D4;
    }

    #search-button-style:hover {
        border: 2px solid white;
        background: #00B8D4;
        color: white;
    }

    button {
        margin: auto;
    }

    h1 {
        text-align: -webkit-left;
        color: white;
        text-shadow: 3px 4px 2px #5f5f5f;
        font-family: 'Parisienne', cursive;
    }

    h2 {
        text-align: center;
        letter-spacing: 0.2rem;
    }

    div.col-12 {
        background: #ffffff; /* For browsers that do not support gradients */
        background: linear-gradient(white, whitesmoke);
        height: 100%;
    }

    #bottom-group {
        background: #ffffff; /* For browsers that do not support gradients */
        background: linear-gradient(whitesmoke, white);
        height: 100%;
    }

    #vender {
        margin-top: 2%;
    }

    .vender-card {
        display: inline-block;
        padding: 0;
        margin: 1% 1% 5% 1%;

    }

    .card {
        
        border-radius: 5%;
        overflow: hidden;
        padding: 0;
    }

    .mat-card-image {
        object-position: bottom;
    }

    .mat-card-title {
        padding: 2%;
    }

    .vender-button {
        width:100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }

    h5 {
    color:#00B8D4;
    }

    img {
        object-fit: cover;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 451px) and (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-inner {
        top: 10em;
    }
}
div.containerX {
    margin: 0;
    padding: 0;
}

#main {
    width:100%;
    max-height: 28em;
    min-height: 28em;
    background-image: url(/assets/images/headerImage.jpg);
}


.main-inner {
    position: absolute;
    width: 100%;
    top: 10em;
    color: white;
    opacity: 1!important;
}

div.search {
    width: 100%;
    overflow: hidden;
}

.group {
    border: 1px solid white;
    width: fit-content;
    margin: auto;
}

.search-icons {
    display: inline-block;
}

.search-icons img {
    max-width: 5em;
    min-width: 5em;
    max-height: 5em;
    min-height: 5em;
}

#search-button {
    margin-top: 2%;
}

#search-button-style {
    background: #00B8D4;
    color: white;
}

#search-button-style:hover {
    background: white;
    color: #00B8D4;
}

button {
    margin: auto;
}

h1 {
    text-align: -webkit-left;
    color: white;
    text-shadow: 1px 2px 1px #5f5f5f;
}

h2 {
    text-align: center;
    letter-spacing: 0.2rem;
}

#middle-top {
    background-image: url(/assets/images/star.png);
    background-size: 15em;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position-y: 8.9em;
    background-position-x: 44em;
}

#middle-bottom {
    padding: 0;
    margin: 2% 0;
    background-color: #f5f5f5;
}

#middle-bottom .col-6 {
    padding: 0;
    margin: 0;
}

#middle-bottom .col-6:last-child {
    padding: 5% 10% 2% 2%;
}

#middle-bottom .col-6 #search-button-style {
    margin-top: 10%;
}

.col-6 {
    display: inline-block;
    padding: 5% 10%;
    vertical-align: top;
}

span {
    color: #00B8D4;
}

#middle-left-text {
    line-height: 2;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}



div.col-12 {
    background: #ffffff;
    height: 100%;
}

#bottom-group {
    padding: 0;
    margin: 0;
}

#vender {
    margin-top: 2%;
}

.vender-card {
    display: inline-block;
    padding: 0;
    margin: 1% 1% 5% 1%;

}

.card {
    border-radius: 5%;
    padding: 0;
    max-width: 15rem;
    min-width: 15rem;
    max-height: 20rem;
    min-height: 20rem;
    overflow: hidden;
}

.mat-card-image {
    max-height: 13rem;
    min-height: 13rem;
    object-fit: cover;
    object-position: center;
}
.mat-card-subtitle {
    margin: 0;
}

.mat-card-subtitle:not(:first-child) {
    margin-top:0;
}

.vender-button {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

h5 {
  color:#00B8D4;
}

img {
    object-fit: cover;
}

.line{
  display: block;
  width: 80%;
  border: 1px solid lightgrey;
  margin: auto;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { 
    overflow: hidden;
    height: 20em;
}
div#slider figure img {     
    width: 100%;
    min-height: auto;
}
div#slider figure { 
    position: sticky;
    height: 100%;
    width: 100%;
    margin: 0;
    display: inline-flex;
    -webkit-animation: 30s slidy infinite;
    animation: 30s slidy infinite;
}
/* div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
} */

div.small-box {
    background-color: #00B8D4;
    color: white;
    display: block;
    width: 50%;
    padding: 3%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.small-box h6, p {
    margin: 0;
    padding: 0;
}
.small-box p {
    font-size: 0.7rem;
}

#bottom-paragraph {
    line-height: 2em;
}