<div class="containerX">
    <hr>
    <div id="main">
        <section>
            <h1>Who knows Tulsa better then tulsans?</h1>
        </section>
        <div class="search">
            <div id="search-button">
                <button mat-raised-button color="accent" routerLink="/search" matTooltip="Search for a Venue" matTooltip="Search for a venue">Find Your Venue Now</button>
            </div>
            <!-- <div id="search-icon-group">
                <ul>
                    <li class="search-icon">
                        <img src='/assets/images/ballroom.png' alt="ballroom icon">
                    </li>
                    <li class="search-icon">
                        <img src='/assets/images/barn.png' alt="barn icon">
                    </li>
                    <li class="search-icon">
                        <img src='/assets/images/chaple.png' alt="chaple icon">
                    </li>
                    <li class="search-icon">
                        <img src='/assets/images/garden.png' alt="garden icon">
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    
    <div class="container" id="category">
        <h2>What are you interested in?</h2>
        <h6 class="text-center">Explore some of our differnt venues</h6>
        <mat-grid-list cols="4" rowHeight="200px" gutterSize="1rem">
            <mat-grid-tile *ngFor="let category of categories; let i = index; ">{{category.name}}
            </mat-grid-tile>
        </mat-grid-list>

    </div>
    <div class="container" id="vender">
        <h2>Best Things To Do In The City</h2>
        <h6 class="text-center">Explore some of the best places to visit in our city.</h6>
        <div class="vender-card" *ngFor="let vender of venders; let i = index">
            <mat-card class="card" [tabindex]="i">
                <ng-container *ngIf="vender.pic_url; else elseTemplate">
                    <img mat-card-image  src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venders/{{vender.name}}/{{vender.pic_url}}' alt="Vender Picture" class= "img-responsive">
                </ng-container>
                <ng-template #elseTemplate>
                    <img mat-card-image src='/assets/images/missing.png' alt="Venue Picture" class= "img-responsive">
                </ng-template>
                <mat-card-title>
                    <h5 class="text-left">{{vender.name}}</h5>
                </mat-card-title>

                <mat-card-actions>
                    <button mat-button class="vender-button" [routerLink]="['/vender', 'display', vender._id]" matTooltip="View {{vender.name}}">VIEW</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    
</div>