<div class="containerX">
    <hr>
    <div id="main">
        <section>
            <h1>Who knows Tulsa better then tulsans?</h1>
        </section>
        <div class="search">
            <div id="search-button">
                <button mat-raised-button color="accent" routerLink="/search" matTooltip="Search for a Venue">Find Your Venue Now</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" id="vender">
        <h2>Preferred Venders</h2>
        <div class="vender-card" *ngFor="let vender of venders; let i = index">
            <mat-card class="card" [tabindex]="i">
                <ng-container *ngIf="vender.static_pic_url; else elseTemplate">
                    <img mat-card-image src='imgs/{{vender.static_pic_url}}' alt="Vender Picture">
                </ng-container>
                <ng-template #elseTemplate>
                    <img mat-card-image src='/assets/images/missing.png' alt="Venue Picture">
                </ng-template>
                <mat-card-content>
                    <p>{{vender.name}}</p>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button class="vender-button" [routerLink]="['/vender', 'display', vender._id]">VIEW</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>