/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

mat-grid-tile {
  background: lightblue;
}



div.containerX {
    margin: 0;
    padding: 0;
}

#main {
    width:100%;
    background-image: url(/assets/images/tulsa-venues-header.jpg);
    background-attachment: scroll;
    background-size: cover;
    height: 25em;
}

div.search {
    width: 100%;
}

#search-button {
    width:100%;
    display: flex;
    position: absolute;
    top: 15em;
}

button {
    margin: auto;
}

h1 {
    text-align: -webkit-left;
    color: white;
    text-shadow: 3px 4px 2px #000;
    margin-left: 3em;
    font-family: 'Parisienne', cursive;
    font-size: -webkit-xxx-large;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
}

h2 {
    text-align: center;
    letter-spacing: 0.2rem;
}

#vender {
    margin-top: 2%;
}

.vender-card {
  display: inline-block;
  padding: 0;
  margin: 1%;
}

.card {
    max-width: 15em;
    min-width: 15rem;
    max-height: 21rem;
    min-height: 21rem;
    border-radius: 5%;
    overflow: hidden;
    padding: 0;
}

.mat-card-image {
    max-height: 15rem;
    min-height: 15rem;
    object-position: bottom;
    object-fit: scale-down;
}

.mat-card-title {
    padding: 2%;
}

.vender-button {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

h5 {
  color:#FFB300;
}

#category {
    margin-top: 3rem;
}

#category>h2 {
    margin-bottom: 1rem;
}

#search-icon-group {
    width:100%;
    display: flex;
    position: absolute;
    top: 19rem;
    justify-content: center;
}

.search-icon {
    display: -webkit-inline-box;
    margin: 2%;
}

ul {
    width: 27%;
}

.search-icon img {
    width: 65%;
}

img {
    object-fit: cover;
}