/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #main {
        background-attachment: scroll;
        background-size: contain;
        height: 12rem;
    }

    h1 {
        text-align: -webkit-center!important;
        color: white;
        font-size: xx-large;
        margin: 0 1em;
        position: absolute;
        top: 4em;
    }



    #search-icon-group {
        display: none;
    }

    ul {
        width: 100%;
    }

    .image-seperater {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background: whitesmoke;
    }

    .image-seperater img{
        width:50%;
        object-fit: contain;
        z-index: 2;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #main {
        background-attachment: scroll;
        background-size: cover;
        height: 25em;
    }
  h1 {
        text-align: -webkit-left;
        color: white;
        margin-left: 3em;
        font-size: -webkit-xxx-large;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
    }

    #search-icon-group {
        position: absolute;
        top: 19rem;
        left: 439px;
        right: 0px;
    }

    ul {
        width: 100%;
    }

    .image-seperater {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background: whitesmoke;
    }

    .image-seperater img{
        width:50%;
        object-fit: contain;
        z-index: 2;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #main {
        background-attachment: scroll;
        background-size: cover;
        height: 25em;
    }
  h1 {
        text-align: -webkit-left;
        color: white;
        margin-left: 3em;
        font-size: -webkit-xxx-large;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
    }

    #search-icon-group {
        position: absolute;
        top: 19rem;
        left: 439px;
        right: 0px;
    }

    ul {
        width: 100%;
    }

    .image-seperater {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background: whitesmoke;
    }

    .image-seperater img{
        width:50%;
        object-fit: contain;
        z-index: 2;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #main {
        background-attachment: scroll;
        background-size: cover;
        height: 25em;
    }
  h1 {
        text-align: -webkit-left;
        color: white;
        margin-left: 3em;
        font-size: -webkit-xxx-large;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
    }

    #search-icon-group {
        position: absolute;
        top: 19rem;
        left: 439px;
        right: 0px;
    }

    ul {
        width: 100%;
    }

    .image-seperater {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background: whitesmoke;
    }

    .image-seperater img{
        width:50%;
        object-fit: contain;
        z-index: 2;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #main {
        background-attachment: scroll;
        background-size: cover;
        height: 25em;
    }

    h1 {
        text-align: -webkit-left;
        color: white;
        margin-left: 3em;
        font-size: -webkit-xxx-large;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
    }

    #search-icon-group {
        position: absolute;
        top: 19rem;
        left: 439px;
        right: 0px;
    }

    ul {
        width: 100%;
    }

    .image-seperater {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        background: whitesmoke;
    }

    .image-seperater img{
        width:50%;
        object-fit: contain;
        z-index: 2;
    }
  
}

mat-grid-tile {
  background: lightblue;
}



div.containerX {
    margin: 0;
    padding: 0;
}

#main {
    width:100%;
    background-image: url(/assets/images/tulsa-venues-header.jpg);
}

div.search {
    width: 100%;
    overflow: hidden;
}

#search-button {
    width:100%;
    display: flex;
    position: absolute;
    top: 14em;
}

#search-button-style {
    color: #00B8D4;
}

#search-button-style:hover {
    border: 2px solid white;
    background: #00B8D4;
    color: white;
}

button {
    margin: auto;
}

h1 {
    text-align: -webkit-left;
    color: white;
    text-shadow: 3px 4px 2px #5f5f5f;
    font-family: 'Parisienne', cursive;
}

h2 {
    text-align: center;
    letter-spacing: 0.2rem;
}

div.col-12 {
    background: #ffffff; /* For browsers that do not support gradients */
    background: linear-gradient(white, whitesmoke);
    height: 100%;
}

#bottom-group {
    background: #ffffff; /* For browsers that do not support gradients */
    background: linear-gradient(whitesmoke, white);
    height: 100%;
}

#vender {
    margin-top: 2%;
}

.vender-card {
    display: inline-block;
    padding: 0;
    margin: 1% 1% 5% 1%;

}

.card {
    max-width: 15em;
    min-width: 15rem;
    max-height: 21rem;
    min-height: 21rem;
    border-radius: 5%;
    overflow: hidden;
    padding: 0;
}

.mat-card-image {
    max-height: 15rem;
    min-height: 15rem;
    object-position: bottom;
    object-fit: scale-down;
}

.mat-card-title {
    padding: 2%;
}

.vender-button {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

h5 {
  color:#00B8D4;
}

#category {
    margin-bottom: 3%;
}

#category>h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#search-icon-group {
    width:50%;
}

.search-icon {
    display: inline-block;
}

.search-icon img {
    width: 100%;
    padding: 25%;
    border: 1px dotted white;
    background: #86793433;
    opacity: 0.5;
}

.search-icon:hover img {
    border: 5px dashed #FFB300;
    background: #0000004a;
    opacity: 1;
}

img {
    object-fit: cover;
}

.vender-location-marker {
    width: 7%;
}

.vender-location-marker, .mat-card-subtitle {
    display: inline-block;
}

.image-seperater {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
}

.image-seperater img{
    width:50%;
    object-fit: contain;
    z-index: 2;
}

.line {
    width: 100%;
    position: absolute;
    border-top: 1px solid #FFB300;
    z-index: 1;
    margin-top: -5%;
}

.small-inner-circle{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    pointer-events: none;
    background: white;
    text-align: -webkit-center;
}
.inner-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    pointer-events:none;
    text-align: center;
    vertical-align: text-bottom;
    margin: 1%;
}