<div class="header">
  <section class="mat-typography">
    <h1>Tulsa Venues</h1>
    <h4>Who knows Tulsa better then tulsans?</h4>
  </section>
</div>
<div class="search">
  <hr>
  <h2>SEARCH FORM COMING SOON...</h2>
  <hr>
</div>

<app-google-map></app-google-map>

<div>
  <mat-sidenav-container>
    <mat-sidenav align="end" mode="side" #sidenav>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>Details</ng-template>
          <button mat-raised-button (click)="sidenav.close()" color="warn">CLOSE</button>
          <p>Name: {{currentVenue.name}}</p>
          <p>Phone: {{currentVenue.phone}}</p>
          <p>Location: {{currentVenue.address}}</p>
          <p>Website: <a href="http://{{currentVenue.website}}">{{currentVenue.website}}</a></p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Photos</ng-template>
          <div *ngIf='!currentVenue.pic_url'>
            <h2>There are currently no pictures of this venue.</h2>
          </div>
          <div *ngIf='currentVenue.pic_url'>
            <img src='https://s3-us-west-2.amazonaws.com/venue-test/Venues/{{currentVenue.pic_url}}' alt="Venue Picture">
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let venue of venue_list">
          <img class='imageGrid' src='imgs/{{currentVenue.static_pic_url}}' alt="Venue Picture">
          <mat-grid-tile-footer>
            <h3>{{venue.name}}</h3>
            <span class="spacer"></span>
            <button mat-icon-button (click)="showVenue(venue)">
              <mat-icon>info</mat-icon>
            </button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
