<!-- Page Footer -->
<footer>
  <div class='social-links'>
    <mat-toolbar>
      <mat-toolbar-row>
        <ul>
          <li>
            <mat-icon aria-label="Facebook icon link">
              <a href='https://facebook.com/BaldridgePhotography1/' target='_blank' rel='nofollow noopener noreferrer'>
                <img src="/assets/images/facebook.svg" alt="Facebook icon link" />
              </a>
            </mat-icon>
          </li>

          <li>
            <mat-icon aria-label="Instagram icon link">
              <a href='https://www.instagram.com/baldridgephotography/' target='_blank' rel='nofollow noopener noreferrer'>
                <img src="/assets/images/instagram.svg" alt="Instagram icon link" />
              </a>
            </mat-icon>
          </li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class='copyright'>
    <p>Copyright
      <a routerLink="/rights">&copy; 2018 TulsaVenues. All Rights Reserved.</a>
    </p>
  </div>
  <!--/.Copyright-->
</footer>
<!-- end-footer -->
