footer {
    width: 100%;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 1%;
}

p {
    margin: 0;
    font-size: 0.8em;
}

a {
  color: #fff;
}