<div class="header">
    <h2 class="text-center">Admin Dashboard</h2>
</div>
<div>
    <mat-chip-list>
        <mat-chip color="plain" selected="true" routerLink="/list_venue">
            Total Venues:
            <div *ngIf="venues">
                {{ venues.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true" routerLink="/list_vender">
            Total Vendors: 
            <div *ngIf="venders">
                {{ venders.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true" routerLink="/list_amenity">
            Total Amenities:
            <div mat-chip-value *ngIf="amenities">
                {{ amenities.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true" routerLink="/list_admin">
            Total Users:
            <div mat-chip-value *ngIf="users">
                {{ users.length }}
            </div>
        </mat-chip>
    </mat-chip-list>
</div>