<div class="header">
    <h1>Admin Dashboard</h1>
</div>
<div>
    <mat-chip-list>
        <mat-chip color="plain" selected="true">Total Venues:
            <div *ngIf="venues">
                {{ venues.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true">Total Venders:
            <div *ngIf="venders">
                {{ venders.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true">Total Amenities:
            <div mat-chip-value *ngIf="amenities">
                {{ amenities.length }}
            </div>
        </mat-chip>
        <mat-chip color="plain" selected="true">Total Users:
            <div mat-chip-value *ngIf="users">
                {{ users.length }}
            </div>
        </mat-chip>
    </mat-chip-list>
</div>