<div class="container">
    <div>
        <h2 class="text-center">Cover Image</h2>
    </div>
    <div class="col-3">
        <form (ngSubmit)="uploadOne()" #form encType="multipart/form-data">
            <div class="file-upload">
                <input #file type="file" name="picture" />
            </div>
            <div class="submit-button">
                <button mat-raised-button type="submit" color="accent">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <p [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="col-3">
        <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venues/{{venue._id}}/{{venue.pic_url}}' alt="Venue Picture" class="img-thumbnail">
    </div>
    <hr>
    <div>
        <h2 class="text-center">Video  Image</h2>
    </div>
    <div class="col-3">
        <form (ngSubmit)="uploadVideo()" #form encType="multipart/form-data">
            <div class="file-upload">
                <input #file type="file" name="picture" />
            </div>
            <div class="submit-button">
                <button mat-raised-button type="submit" color="accent">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <p [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="col-3">
        <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venues/{{venue._id}}/{{venue.video_pic_url}}' alt="Venue Picture" class="img-thumbnail">
    </div>
    <hr>
    <div>
        <h2 class="text-center">Tour Image</h2>
    </div>
    <div class="col-3">
        <form (ngSubmit)="uploadTour()" #form encType="multipart/form-data">
            <div class="file-upload">
                <input #file type="file" name="picture" />
            </div>
            <div class="submit-button">
                <button mat-raised-button type="submit" color="accent">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <p [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="col-3">
        <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venues/{{venue._id}}/{{venue.tour_pic_url}}' alt="Venue Picture" class="img-thumbnail">
    </div>
    <hr>
    <div>
        <h2 class="text-center">Gallery Images</h2>
    </div>
    <div class="col-12">
        <form (ngSubmit)="uploadMultiple()" #formMultiple encType="multipart/form-data">
            <div class="file-upload">
                <input #files type="file" name="picture" multiple />
            </div>
            <div class="submit-button">
                <button mat-raised-button type="submit" color="accent">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <p [ngStyle]="{ 'color': 'red' }" *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="row">
        <div class="col-3" *ngFor="let gallery of venue.gallery">
            <img src='https://s3-us-west-2.amazonaws.com/tulsa-venues/Venues/{{venue._id}}/Gallery/{{gallery.name}}' alt="Venue Gallery Picture" class="img-thumbnail">
        </div>
    </div>
</div>