<button mat-raised-button [routerLink]="['/list_review']">
    <i class="material-icons">&#xE5C4;</i>
</button>
<h1>Add a Review</h1>
<form #form (submit)="createReview()" encType="multipart/form-data">
    <mat-form-field>
        <input matInput type="email" name="email" required maxlength=150 [(ngModel)]="newReview.email" placeholder="Email" />
    </mat-form-field>

    <mat-form-field>
        <textarea matInput #content name="content" required maxlength="350" [(ngModel)]="newReview.content" placeholder="Review" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>

        <mat-hint align="end">{{content.value.length}} / 350</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="rating" [(ngModel)]="newReview.rating" placeholder="Rating">
            <mat-option *ngFor="let rating of ratings" [value]="rating.value">
                {{ rating.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="submit-button">
        <button mat-raised-button type="submit" color="accent">Submit</button>
    </div>
</form>

<div>
    <p class="error" *ngFor="let error of errors">{{ error }}</p>
</div>