<div>
  <mat-sidenav-container>
    <mat-sidenav align="end" mode="side" opened="true" disableClose="true" #sidenav>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>Details</ng-template>
          <p>Name: {{vender.name}}</p>
          <p>Phone: {{vender.phone}}</p>
          <p>Location: {{vender.address}}</p>
          <p>Website:
            <a href="http://{{vender.website}}">{{vender.website}}</a>
          </p>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content role="vender">
      <div>
        <h1>{{vender.name}}</h1>
        <img src='imgs/{{vender.static_pic_url}}' alt="Vender Picture">
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>