/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .vender-image {
    width: 30%;
    margin: auto;
    display: inherit;
  }

  .col-3, .col-5 {
    display: inline-block;
    vertical-align: top;
  }
  
}

div.containerX {
    margin-top: 4%;
    width: 100%;
}

.carousel {
  width: 100%;
  background: #252d2fbf;
}

h2 {
  color:#FFB300;
}

#top, #middle, #bottom {
  margin: 2% 0;
}

a {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
}

#vender-contact {
  width: 100%;
}

#vender-contact>li {
  display: block;
}

#vender-contact .mat-icon {
  margin-right: 1%;
  vertical-align: baseline;
}

.mat-icon, p {
  display: inline-block;
  vertical-align: text-top;
}
