<div class="col align-self-center" *ngIf="!loaded; else mainTemplate">
    <div class="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
<ng-template #mainTemplate>
    <div class="header-image">

    </div>
    <div class="header-text">
        <h1 class="text-center">THE BEST OF THE BEST</h1>
        <span class="line"></span>
        <h6 class="text-center">Choosing the right venue is only part of the equation when it comes to having the perfect wedding day. Listed below are companies
        that we believe are the best of the best in the wedding industry, able to ensure that your wedding day is everything you
        dreamed it would be.</h6>
    </div>

    <div class="middle-top">
        <h5 class="text-center"> LOOKING FOR A SPECIFIC SERVICE PROVIDER? CHOOSE FROM THE LIST BELOW OR BROWSE ALL OF OUR PREMIUM VENDORS.</h5>
        <mat-form-field>
            <mat-select [(value)]="vender.category">
                <mat-option>None</mat-option>
                <mat-option value="">Option 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</ng-template>