<button mat-raised-button [routerLink]="['/list_vender']">
  <i class="material-icons">&#xE5C4;</i>
</button>
<h1>Add a Vender</h1>
<form #form (ngSubmit)="create_vender()" encType="multipart/form-data">
  <!-- Name -->
  <mat-form-field>
    <input matInput name="name" required maxlength=250 [(ngModel)]="new_vender.name" placeholder="Vender Name" />
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <input matInput name="email" required maxlength=250 [(ngModel)]="new_vender.email" placeholder="Vender Email" />
  </mat-form-field>

  <!-- Phone# -->
  <mat-form-field>
    <input matInput name="phone" required maxlength=20 [(ngModel)]="new_vender.phone" placeholder="Vender Phone #" />
    <mat-hint>no spaces EX: 1234567899 </mat-hint>
  </mat-form-field>

  <!-- Address -->
  <mat-form-field>
    <input matInput name="address" required maxlength=200 [(ngModel)]="new_vender.address" placeholder="Vender Address" />
  </mat-form-field>

  <!-- Website -->
  <mat-form-field>
    <input matInput name="website" required maxlength=250 [(ngModel)]="new_vender.website" placeholder="Vender Website" />
    <mat-hint>EX: www.example.com</mat-hint>
  </mat-form-field>

  <!-- Picture -->
  <div class="file-upload">
    <input #file type="file" name="picture" [(ngModel)]="new_vender.static_pic_url">
  </div>

  <div class="submit-button">
    <!-- Submit -->
    <button mat-raised-button type="submit" color="accent">Submit</button>
  </div>
</form>

<div>
  <p class="error" *ngFor="let error of errors">{{ error }}</p>
</div>